- content_for :title, 'Sign up'
- content_for :meta do
  <meta name='ROBOTS' content='NOINDEX, NOFOLLOW'>

= semantic_form_for @user do |form|
  = form.hidden_field :invite_token, value: @invite.token

  .name
    = form.input :name, placeholder: 'Your first and last name'

  .email
    = form.input :email, input_html: { value: @invite.email }

  .password
    = form.input :password, placeholder: 'Something you will remember'

  .username
    = form.input :username, placeholder: 'You can change this later'

  = form.action :submit, label: 'Sign up', class: 'btn'

  .terms
    = t('.terms_html',
        tos: link_to('Terms of Service', terms_path, target: '_blank'))
