- content_for :title, 'Edit Profile'

= render 'return_to_dash'

.profile
  = semantic_form_for current_user do |f|
    .avatar
      = filepicker_image_tag current_user.avatar_url, w: 50
      = f.filepicker_field :avatar_url

    = f.input :name
    = f.input :email
    = f.input :username
    = f.input :password, label: 'New Password'
    = f.action :submit, label: 'Save', class: 'btn'

