- content_for :title, 'Edit Profile'

= render 'return_to_dash'

.profile
  = semantic_form_for current_user do |f|
    .avatar
      = image_tag current_user.avatar.url(:medium)
      = f.file_field :avatar

    = f.input :name
    = f.input :email
    = f.input :username
    = f.input :password, label: 'New Password'
    = f.action :submit, label: 'Save', class: 'btn'
