- content_for :title, 'Edit Profile'

.profile
  = form_for current_user do |f|
    = image_tag current_user.avatar.url(:medium)
    = f.file_field :avatar

    = f.label :first_name
    = f.text_field :first_name

    = f.label :last_name
    = f.text_field :last_name

    = f.label :email
    = f.text_field :email

    .action
      = f.submit 'Save', class: 'btn'
