- content_for :title, 'Sign up'

- if @user.errors.present?
  .alert.alert-error
    - @user.errors.full_messages.each do |error_text|
      .error= error_text

= form_for @user do |form|
  .name
    = form.label :name
    = form.text_field :name, placeholder: 'Your first and last name'

  .email
    = form.label :email
    = form.text_field :email, type: 'email', placeholder: 'Your email address'

  .password
    = form.label :password
    = form.password_field :password, placeholder: 'Something you will remember'

  .username
    = form.label :username
    = form.text_field :username, placeholder: 'You can change this later'

  = form.submit 'Sign up', class: 'btn'
