- content_for :title, 'Profile'

.pull-right
  = link_to 'Edit', edit_user_path(current_user)

.profile
  .avatar
    = image_tag current_user.avatar.url(:medium)
  .name
    Full name: #{current_user.name}
  .email
    Email: #{current_user.email}
  .username
    Username: #{current_user.username}
