- content_for :title, 'Request Feedback'

= form_for @request do |f|
  = email_form_fields

  = f.label :topic, 'Feedback Topic'
  = f.text_field :topic

  = f.label :message, 'Email Message'
  = f.text_area :message, rows: 2

  %br
  = f.submit 'Send', class: 'btn'
