- content_for :title, 'Request Feedback'

.request-form
  = semantic_form_for @request do |f|
    = f.semantic_errors
    = f.input :emails, collection: @friends_emails,
        input_html: chosen_input_html(multiple: true),
        wrapper_html: chosen_wrapper_html,
        label: 'Recipient Emails'
    = f.input :topic, label: 'Feedback Topic', placeholder: 'What do you need feedback about?'
    = f.input :message, label: 'Email Message', input_html: { rows: 3 }, placeholder: 'Send a note to your recipients about how your feedback can help, and any specifics about what you hope to learn.'

    %br
    = f.submit 'Send request', class: 'btn'

- content_for :javascript do
  :javascript
    $('.chzn-select').chosen({create_option: true});
