- content_for :title, 'About Us'

.app-box.pages
  .app-box-head
    %h1
      = yield :title
  .app-box-content
    = render 'flashes'

    %h3
      = t('.about_title_html')
    %p
      = t('.origin_story_html')
    %p
      = t('.contact_us_html', mail_link: mail_to(Mailer::SUPPORT_ADDRESS, Mailer::SUPPORT_ADDRESS))
