- content_for :title, t('.page_title')

.app-box.pages
  .app-box-head
    %h1
      = yield :title
  .app-box-content
    = render 'flashes'

    %h3
      = t('.subtitle')
    %p
      = t('.origin_story')
    %p
      = t('.contact_us_html', mail_link: mail_to(Mailer::SUPPORT_ADDRESS, Mailer::SUPPORT_ADDRESS))
