- content_for :title, t('.page_title')
- content_for :meta do
  %meta{name: 'description', content: t('.meta_description')}
  %meta{name: 'keywords', content: t('.meta_keywords')}
  %link{rel: 'icon', type: 'image/x-icon', href: "favicon.ico"}
  %link{rel: 'shortcut icon', type: 'image/x-icon', href: "favicon.ico"}

= render 'flashes'
.hero-unit
  #hero-image
    = image_tag "thrively_desktop.png"
  %h1
    = t('.app_title')
  %br/
  %h2
    = t('.app_subtitle')
  %p
    = t('.app_description')
  .mc_embed_signup
    %form.form-inline.validate{ action: 'http://thrive.us4.list-manage.com/subscribe/post?u=89a759ffe3c8f7f7c85d7c1b8&amp;id=2ea5adae7f', method: 'post', id: 'mc-embedded-subscribe-form', name: 'mc-embedded-subscribe-form', novalidate: 'novalidate' }
      .call-to-action
        = t('.call_to_action')
      .mc-field-group
        .response{ display: 'none', id: 'mce-error-response' }
        .response{ display: 'none', id: 'mce-success-response' }
        %input.span4.input-large.email{ name: 'EMAIL', placeholder: 'email address', required: '', type: 'email', value: '', class: 'required email', id: 'mce-EMAIL' }
        %input.btn.btn-primary.btn-large{ name: 'subscribe', type: 'submit', value: 'Request invite', id: 'mc-embedded-subscribe' }

.row.features
  .span4.feature-item
    %i.icon-retweet
    %p
      = t('.feature_item_feedback')
  .span4.feature-item
    %i.icon-gift
    %p
      = t('.feature_item_free')
  .span4.feature-item
    %i.icon-group
    %p
      = t('.feature_item_team')
