- content_for :title, 'Radically Simple Feedback'

= render 'flashes'
.hero-unit
  #hero-image
    = image_tag "thrively_desktop.png"
  %h1 
    = t('.app_title')
  %br/
  %h2 
    = t('.app_subtitle')
  %p 
    = t('.app_description_html') 
  %form.form-inline
    = t('.call_to_action_html') 
    %br/
    %input.span4.input-large.email{name: 'EMAIL', placeholder: 'email address', required: '', type: 'email', value: ''}
    %input.btn.btn-primary.btn-large{name: 'subscribe', type: 'submit', value: 'Request invite'}
.row.features
  .span4.feature-item
    %i.icon-retweet
    %p 
      = t('.feature_item_feedback_html')
  .span4.feature-item
    %i.icon-gift
    %p 
      = t('.feature_item_free_html')
  .span4.feature-item
    %i.icon-group
    %p 
      = t('.feature_item_team_html')