- content_for :title, t('.page_title')
- content_for :meta do
  %meta{name: 'description', content: t('.meta_description')}
  %meta{name: 'keywords', content: t('.meta_keywords')}

= render 'flashes'
.hero-unit
  #hero-image
    = image_tag "thrively_desktop.png"
  %h1
    = t('.app_title')
  %br/
  %h2
    = t('.app_subtitle')
  %p
    = t('.app_description')
  %form.form-inline
    = t('.call_to_action')
    %br/
    %input.span4.input-large.email{name: 'EMAIL', placeholder: 'email address',
      required: '', type: 'email', value: ''}
    %input.btn.btn-primary.btn-large{name: 'subscribe', type: 'submit',
      value: 'Request invite'}
.row.features
  .span4.feature-item
    %i.icon-retweet
    %p
      = t('.feature_item_feedback')
  .span4.feature-item
    %i.icon-gift
    %p
      = t('.feature_item_free')
  .span4.feature-item
    %i.icon-group
    %p
      = t('.feature_item_team')
