Hello #{@user.name}!
\
It looks like you just updated your email address on Thrively.
\
Old email: #{@user.email_was}
New email: #{@user.email}
\
Thanks for using Thrively!
\
Nick Fassler, CEO and Founder of Thrively
\
= "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
If you are confused why you received this message, or are having any trouble
with your Thrively account, please contact us at #{Mailer::SUPPORT_ADDRESS}.
\
2012 – Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
