Hi #{@feedback.receiver_name},
\
#{@feedback.giver_name} has given you feedback with Thrively.
\
= "----"
#{@feedback.topic}
\
WHAT WORKED
#{@feedback.plus}
\
\
WHAT TO IMPROVE
#{@feedback.delta}
= "----"
\
Go to your Thrively account to view this feedback, request more feedback, or give feedback to others.
\
http://thrive.ly/
\
= render 'footer', sender_name: @feedback.giver_name
