Hi #{@feedback.receiver_name},
\
#{@feedback.giver_name} has given you feedback with Thrively.
\
= "----"
#{@feedback.topic}
\
WHAT WORKED
#{@feedback.plus}
\
WHAT TO IMPROVE
#{@feedback.delta}
= "----"
\
- if @feedback.receiver_type == 'User'
  Go to your Thrively account to view this feedback, request more feedback,
  or give feedback to others.
- else
  Request an invite to the Thrively private beta to view this feedback, request
  more feedback, or give feedback to others.
\
http://thrive.ly/
\
Thank you.
\
= "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
- if @feedback.giver_type == 'User'
  #{@feedback.giver_name} is using Thrively to collect, give, and track feedback.
  http://thrive.ly/
- else
  If you have any ideas or concerns for Thrively, please contact us at
  #{Mailer::SUPPORT_ADDRESS}.
\
Copyright 2012 - Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA

