Hi #{@feedback.receiver_name},
\
#{@feedback.giver_name} has given you feedback with Thrively.
\
= "----"
#{@feedback.topic}
\
WHAT WORKED
#{@feedback.plus}
\
\
WHAT TO IMPROVE
#{@feedback.delta}
= "----"
\
Go to your Thrively account to view this feedback, request more feedback, or give feedback to others.
\
http://thrive.ly/
\
Thank you.
\
= "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
#{@feedback.giver_name} is using Thrively to collect, give, and track feedback: http://thrive.ly/
\
Copyright 2012 - Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
