%div{ style: 'font-family: Arial,sans-serif; font-size:13px;' }

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Hi #{@requested_feedback.giver_name},

  %p{ style: 'margin: 0 0 1.6em 0;' }
    #{@requested_feedback.requester_name} would like your feedback.

  %table{bgcolor: "#FFFFEE", border: "0", cellpadding: "0", cellspacing: "10", 
    width: "100%", style: "border: 1px solid #EEE; margin: 0 0 1.6em 0;"}
    %tr
      %td{style: "font-family: Georgia; color:#333333; font-size:13px;"}
        %div
          %strong= @requested_feedback.request.topic
          %br
          %br
          %em= @requested_feedback.request.message

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Click the link below to give your feedback on what worked and what could be improved:

  %p{ style: 'margin: 0 0 1.6em 0;' }
    = link_to requested_feedback_url(@requested_feedback),
        requested_feedback_url(@requested_feedback)

  = render 'footer', sender_name: @requested_feedback.requester_name
