Hi #{@requested_feedback.giver_name},
\
#{@requested_feedback.requester_name} would like your feedback.
\
= "----"
#{@requested_feedback.request.topic}
#{@requested_feedback.request.message}
= "----"
\
Click the link below to give your feedback on what worked and what could be improved:
\
#{requested_feedback_url(@requested_feedback)}
\
Thank you.
\
= "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
#{@requested_feedback.requester_name} is using Thrively to collect, give, and track feedback: http://thrive.ly/
\
Copyright 2012 - Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
