Hi #{@requested_feedback.giver_name},
\
#{@requested_feedback.requester_name} would like your feedback.
\
= "----"
#{@requested_feedback.request.topic}
#{@requested_feedback.request.message}
= "----"
\
Click the link below to give your feedback on what worked and what could be improved:
\
#{requested_feedback_url(@requested_feedback)}
\
= render 'footer', sender_name: @requested_feedback.requester_name
