%div{ style: 'font-family: Arial,sans-serif; font-size:13px;' }

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Hello #{@user.name}!

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Thanks for signing up for Thrively's private beta test. We are excited to have
    you join our community.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    You were selected to try Thrively because we really value your opinion. If you
    have any ideas, questions, or other feedback, please contact us at:
    #{Mailer::SUPPORT_ADDRESS}.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    It's easy to get started with Thrively: why don't you try
    #{link_to 'requesting feedback', new_request_url} or
    #{link_to 'giving feedback', new_feedback_url} to a colleague, friend, client,
    mentor, or anyone you want. And while you're at it, you can also
    #{link_to 'upload a profile photo', edit_user_url(@user)} of yourself.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Yours for the feedback revolution,

  %p{ style: 'margin: 0 0 1.6em 0; color: #666;' }
    Nick Fassler, CEO and Founder of Thrively

  %hr{ style: 'height: 1px; background-color: #ccc; color: #ccc; border: none; border: 0px solid #ccc;'}
  %p{ style: 'margin: 0 0 1.6em 0;' }
    If you are confused why you received this message, or are having any trouble
    with your Thrively account, please contact us at #{Mailer::SUPPORT_ADDRESS}.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    \© 2012 – Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
