- content_for :title, 'Give Feedback'

= form_for @feedback do |f|
  - if @feedback.request
    = f.hidden_field :request_id
    .user
      %img{ src: "http://placehold.it/60x60", class: "img-polaroid" }
      Email: #{@feedback.receiver_email}
    .topic
      Topic: #{@feedback.request.subject}
  - else
    = f.label :receiver_email, 'Email'
    = f.text_field :receiver_email, placeholder: 'Email'
    = f.label :subject, 'Feedback subject'
    = f.text_field :subject, placeholder: 'What is the feedback about?'

  = f.label :plus, 'Did well'
  = f.text_area :plus, rows: 2, placeholder: 'Explain what was done well'

  = f.label :delta, 'Improve'
  = f.text_area :delta, rows: 2, placeholder: 'Explain areas for improvement'
  %br
  = f.submit 'Send', class: 'btn'
