%h2 Give Feedback

= form_for @feedback do |f|
  = f.fields_for :receiver_attributes do |builder|
    = builder.label :email
    = builder.text_field :email, placeholder: 'Email'

  = f.label :subject, 'Feedback subject'
  = f.text_field :subject, placeholder: 'What is the feedback about?'

  = f.label :plus, 'Did well'
  = f.text_area :plus, rows: 2, placeholder: 'Explain what was done well'

  = f.label :delta, 'Improve'
  = f.text_area :delta, rows: 2, placeholder: 'Explain areas for improvement'
  %br
  = f.submit 'Send', class: 'btn'
