.feedback.received
  .history-icon
    %i.icon-retweet
  .history-content
    .title
      #{resource.giver.decorator.link_to_profile} 
      = t('.feedback_received_post_html')
      %span.timestamp
        #{time_ago_in_words(resource.created_at)} ago
    .topic
      = resource.topic
    .plus
      %i.icon-plus(title='Plus: what worked')
      = resource.plus
    .delta
      %i.icon-caret-up(title='Delta: what to improve')
      = resource.delta
