.feedback.received
  .history-icon
    %i.icon-retweet
  .avatar
    = image_tag resource.giver.avatar.url(:small)
  .history-content
    .title
      = t('.title_html',
          user: resource.giver.decorator.link_to_profile,
          time: time_ago_in_words(resource.created_at))
    .topic
      = resource.topic
    .plus
      %i.icon-plus(title='Plus: what worked')
      = resource.plus
    .delta
      %i.icon-caret-up(title='Delta: what to improve')
      = resource.delta
