%hr
%footer
  .row
    .span4 &copy; Thrively 2012
    .span8.footer-nav
      - if signed_out?
        = link_to 'Home', sign_up_path
      - else
        = link_to 'Home', sign_up_path
      %span.footer-bar &#124;
      = link_to 'Blog', 'http://blog.thrive.ly/'
      %span.footer-bar &#124;
      = link_to 'About', about_path
      %span.footer-bar &#124;
      = link_to 'Jobs', jobs_path
      %span.footer-bar &#124;
      = link_to 'Terms', terms_path
      %span.footer-bar &#124;
      = link_to 'Privacy', 'http://www.iubenda.com/privacy-policy/314743',
          class: 'iubenda-nostyle no-brand iubenda-embed'
      = link_to 'http://facebook.com/thrively', class: 'footer-icon' do
        = image_tag('flw-facebook-icon.png', title: 'Thrively on Facebook', alt: 'Facebook')
      = link_to 'http://twitter.com/thrively', class: 'footer-icon' do
        = image_tag('flw-twitter-icon.png', title: 'Thrively on Twitter', alt: 'Twitter')
