.how-to
  %hr
  %h3
    = t('.title')
  .row
    .span3
      = image_tag('requestprocess-1.png', title: 'Select Recipients', alt: 'Select Recipients')
      %h4
        = t('.process_1_subtitle')
      %p
        = t('.process_1_text')
    .span3
      = image_tag('requestprocess-2.png', title: 'Recipients give you feedback', alt: 'Recipients give you feedback')
      %h4
        = t('.process_2_subtitle')
      %p
        = t('.process_2_text')
    .span3
      = image_tag('requestprocess-3.png', title: 'View your feedback', alt: 'View your feedback')
      %h4
        = t('.process_3_subtitle')
      %p
        = t('.process_3_text')