!!! 5

%head
  %meta(charset='UTF-8')
  %meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
  %title Admin
  = yield :meta
  = stylesheet_link_tag :application, media: 'all'
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        .brand
          = link_to 'Admin', admin_path

  #main-content.container
    .app-box
      .app-box-head
        = yield(:subheader_nav)
        %h1
          = yield(:title)
      .app-box-content
        = render 'flashes'
        = yield

  = render 'javascript'
