!!! 5

%head
  %meta(charset='UTF-8')
  %meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
  %title Admin
  = stylesheet_link_tag :admin, media: 'all'
  = csrf_meta_tags

%body
  .container-fluid
    = render 'flashes'
    = yield

  = render 'javascript'
