!!! 5

%head
  %meta(charset='UTF-8')
  = yield :meta
  %title Thrively#{" | #{yield(:title)}" if yield(:title).present?}
  = stylesheet_link_tag :application, media: 'all'
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = link_to 'Thrively', root_path, class: 'brand'
        .pull-right
          %ul.nav
            - if signed_in?
              %li.support
                %a{ href: '#', id: 'Intercom'}
                  = t('.support_link_html')
              %li= link_to 'Profile', current_user
              %li= link_to 'Sign out', sign_out_path, method: :delete
            - else
              %li= link_to 'Sign in', sign_in_path

  #main-content.container
    .app-box
      .app-box-head
        - if signed_in?
          .action-btns.pull-right
            %a{ href: new_request_path, class: 'btn btn-info btn-large'}
              = t('.request_button')
            %a{ href: new_feedback_path, class: 'btn btn-primary btn-large'}
              = t('.give_button')
        %h1
          #{yield(:title)}
      .app-box-content
        = render 'flashes'
        = yield

    = render 'footer'

  = render 'javascript'
