!!! 5

%head
  %meta(charset='UTF-8')
  %title Thrively#{" | #{yield(:title)}" if yield(:title).present?}
  = yield :meta
  = stylesheet_link_tag :application, media: 'all'
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        .brand
          = link_to 'Thrively', root_path, class: 'logo', title: 'Thrively', alt: 'Thrively'
        .beta beta
        .pull-right
          = render 'header_nav'

  #main-content.container
    .app-box
      .app-box-head
        = yield(:subheader_nav)
        %h1
          = yield(:title)
      .app-box-content
        = render 'flashes'
        = yield

    = render 'footer'

  = render 'javascript'
