!!! 5

%head
  %meta(charset='UTF-8')
  %title Thrively#{": #{yield(:title)}" if yield(:title).present?}
  = stylesheet_link_tag :application, media: 'all'
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to 'Thrively', root_path, class: 'brand'
        .pull-right
          %ul.nav
            %li
              - if signed_in?
                = link_to 'Sign out', sign_out_path, method: :delete
              - else
                = link_to 'Sign in', sign_in_path
        - if signed_in?
          .action-btns.pull-right
            %a{ href: new_feedback_path, class: 'btn btn-success btn-large'}
              %i.icon-gift
              Give Feedback
            %a{ href: new_request_path, class: 'btn btn-success btn-large'}
              %i.icon-heart
              Request Feedback

  #main-content.container
    .app-box
      .app-box-head
        %h1 #{yield(:title)}
      .app-box-content
        = render 'flashes'
        = yield
  = render 'javascript'
