!!! 5

%head
  %meta(charset='UTF-8')
  %title Thrively#{" | #{yield(:title)}" if yield(:title).present?}
  = stylesheet_link_tag :application, media: 'all'
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = link_to 'Thrively', root_path, class: 'brand'
        .pull-right
          %ul.nav
            - if signed_in?
              %li= link_to 'Profile', current_user
              %li= link_to 'Sign out', sign_out_path, method: :delete
            - else
              %li= link_to 'Sign in', sign_in_path

  #main-content.container
    = yield

    = render 'footer'

  = render 'javascript'
